.todo-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.todo-filter .mid{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-filter button{
  background: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.1s;
}

.todo-filter button.active{
  color: white;
}

body.light .todo-filter button{
  color: #181824;
}

body.light .todo-filter button.active{
  color: rgb(0, 0, 212);
}

.todo-filter button:hover{
  color: white;
}

@media screen and (max-width: 600px){
  .todo-filter{
    flex-direction: column;
    gap: 20px;
  }
}