.todoList{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.608);
}

.todoList .todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom: 1px solid #7e7e7e;
  background: #181824;
  position: relative;
}

.todoList .todo .left{
  display: flex;
  align-content: center;
  gap: 15px;
}

.todoList .todo:last-child{
  border-bottom: none;
}

.todoList .todo input[type="checkbox"]{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.todoList .todo span{
  color: #fff;
  font-size: 1.1rem;
}

.todoList .todo .right button{
  font-size: 20px;
  color: #a8a8a8;
  background: none;
  border: none;
  cursor: pointer;
}

.todoList .todo input[type="checkbox"]:checked + span{
  color: #a8a8a8;
  text-decoration: line-through;
}

/* confirmation delete */

.confirmation-delete{
  position: absolute;
  right: -50px;
  width: 250px;
  transform: translate(-50%, -50%);
  background: #181824;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.608);
}

.confirmation-delete .confirmation-delete-content span{
  font-size: 16px;
  line-height: 1.5;
}

.content-btn{
  display: flex;
  align-items: center;
  gap: 10px;
}

.confirmation-delete .confirmation-delete-content .delete-btn{
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff3d3d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.1s;
}

.confirmation-delete .confirmation-delete-content .delete-btn:hover{
  background: #ff0000;
}

.confirmation-delete .cancel-btn{
  margin-top: 20px;
  padding: 10px 20px;
  background: #0265de;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.1s;
}

.confirmation-delete .cancel-btn:hover{
  background: #2549ff;
}